/*********************************/
/*            common             */
/*********************************/
@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*********************************/
/*             color             */
/*********************************/
$black: #000000;
$gray: #333333;
$water: #96bfed;
$blue: #4078bc;
$deep-red: #9f1a1a;
$light-red: #de4e4e;
$off-white: #f7f7f7;
$white: #ffffff;
$pink: #eb6e8f;

/*********************************/
/*          font-family          */
/*********************************/
$Noto: "Noto Sans JP", sans-serif;
$Roboto: "Roboto", sans-serif;

/*********************************/
/*         font-weight           */
/*********************************/
$regular: 400;
$medium: 500;
$bold: 700;

/*********************************/
/*             text              */
/*********************************/
@mixin text(
  $font-size: 1.5rem,
  $color: $black,
  $font-family: $Noto,
  $font-weight: $medium,
  $letter-spacing: 0.1em
) {
  font-size: $font-size;
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}
